*{
	margin:0;
	padding:0;
}
#top{
	width:100%;
	height:570px;
	background-image: url(../img/homecover2.jpg);
}
#top2{
	width:50px;
	height:50px;
	border-radius:50%;
	margin-left:2%;
	margin-top:10px;
}
#top3{
	color:white;
	margin-left:5%;
	margin-top:-40px;
}
#ziti{
	color: white;
	margin-left:85%;
	margin-top:-20px;
}
#one{
	float: left;
	margin-left:20px;
}
#one:hover{
	color:red;
	cursor:pointer;
}
div>h1{
	color: white;
	margin-left:5%;
	margin-top:200px;
}
div>h2{
	color:grey;
	margin-left:5%;
	margin-top:10px;
}
div>h5{
	color:gainsboro;
	margin-left:5%;
	margin-top:20px;
}
#an1{
	width:139px;
	height:37px;
	border-radius:30px;
	background-color:#1580FF;
	color:white;
	cursor:pointer;
	margin-left:5%;
	margin-top:40px;
}
#header{
	width:100%;
	height:530px;
	background-color:#EDF3F9;
}
#header2{
	color:gray;
	font-size:35px;
	text-align: center;
    padding-top: 20px;
}
#header3{
	color:gray;
	text-align: center;
}
#header1{
	width:400px;
	height:303px;
	background-color:white;
	float:left;
	margin-left:60px;
	margin-top:30px;
	text-align:center ;
	
}
#header4{
	color:greenyellow;
	margin-top:20px;
}
#header5{
	color: gray;
	margin-top:20px;
}
#bood{
	width:100%;
	height:500px;
	background-color:#EDF3F9;
}
#bood1{
	font-size:30px;
	color:greenyellow;
	margin-left:8%;
}
#bood2{
	color: gray;
	margin-left:8%;
}
#bood3{
	margin-left:60%;
	margin-top:-100px;
}
#bood4{
	width:139px;
	height:37px;
	background-color:#80de81;
	border-radius:30px;
	color:white;
}
#bood5{
	margin-left:8%;
	margin-top:-320px;
}
#bood6{
	margin-left:8%;
	margin-top:30px;
	color: gray;
}
#doop{
	width:100%;
	height:600px;
	background-color:#edf3f9;
}
#doop1{
	font-size: 30px;
	text-align: center;
	color:#1580FF;
}
#two{
	color: gray;
}
#doop2{
	text-align: center;
	color:gray;
}
#opl{
	margin-left:10%;
}
#doop3{
	width:450px;
	height:160px;
	background-color: white;
	margin-left:2%;
	margin-top:40px;
	border:1px solid gainsboro;
	float: left;
}
#two1{
	font-size:16px;
	color:gray;
	margin-left:30px;
	margin-top:10px;
}
#two2{
	font-size:14px;
	color:gray;
	margin-left:15px;
	margin-top:10px;
}
#two3{
	width:450px;
	height:40px;
	border:1px solid gainsboro;
	margin-top:39px;
}
#two4{
	color: greenyellow;
	margin-top:10px;
	margin-left:10px;
}
#two3:hover{
	background-color:skyblue;
}
#two5{
	margin-top:-20px;
	margin-left:400px;
	color: gray;
}
#opl1{
	margin-left:23%;
}
#doop4{
	width:450px;
	height:160px;
	background-color: white;
	margin-left:2%;
	margin-top:40px;
	border:1px solid gainsboro;
	float: left;
}
#foot{
	width:100%;
	height:600px;
	background-color:#edf3f9;
}
#foot1{
	font-size: 30px;
	text-align: center;
	color:#1580FF;
}
#foot2{
	color: gray;
}
#foot3{
	text-align: center;
	color:gray;
}
#foot4{
	width:550px;
	height:450px;
	background-color: white;
	border-radius: 10px;
	float: left;
	margin-left:40px;
}
#foot5{
	margin-top:10px;
	margin-left:23px;
	border-radius: 10px;
}
#foot6{
	color: gray;
	margin-left:23px;
}
#foot7{
	color: gray;
	margin-left:23px;
	font-size:15px;
}
#foot8{
	color:blue;
	font-size: 10px;
	margin-left:23px;
	margin-top:5px;
}
#dog{
	margin-left:3%;
}
#foot9{
	width:137px;
	height:31px;
	border:1px solid blue;
	border-radius:30px;
	background-color: whitesmoke;
	color:blue;
	margin-left:88%;
	margin-top:20px;
}
#late{
	width:100%;
	height:210px;
	background-color:white;
}
#late1{
	font-size: 30px;
	text-align: center;
	color:gray;
	margin-top:50px;
}
#late2{
	text-align: center;
	color:gray;
}
#late3{
	width:137px;
	height:31px;
	border:1px solid blue;
	border-radius:30px;
	background-color: blue;
	color:white;
	margin-left:30%;
	margin-top:20px;
}
#late4{
	width:137px;
	height:31px;
	border:1px solid blue;
	border-radius:30px;
	background-color:purple;
	color:white;
	margin-left:62%;
}
#late5{
	color:greenyellow;
	margin-left:50%;
	margin-top:-30px;
}
#late6{
	margin-top:-20px;
}
#mon{
	width:100%;
	height: 256px;
	background-color:#EDF3F9;
}
#mon1{
	margin-left:8%;
	list-style: none;
}
#monn{
display:inline-block;
	margin-top:40px;
}
#mon2{
	color: grey;
	margin-top:10px;
}
#mon3{
	margin-top:-220px;
	margin-left:33%;
	list-style: none;
}
#mon4{
	margin-top:-160px;
	margin-left:55%;
	list-style: none;
}
#mon5{
	margin-top:-210px;
	margin-left:75%;
	list-style: none;
}
#let{
	width:100%;
	height:60px;
	background:rgba(0,16,96,0.15);
}
#let1{
	margin-left:8%;
	margin-top:5px;
}
#let2{
	font-size: 10px;
	color:grey;
	margin-left:8%;
	padding-top:7px;
}
#let3{
	color:grey;
	margin-left:40%;
	margin-top:-33px;
}